.settings
.project
.DS_Store
target
*.ipr
*.iws
.idea/
*.iml
**/target/
**/metastore_db/
**/derby.log
*.tar.gz
hive-data-migrator/.idea/
hive-data-migrator/target/
run_it.sh
setup/hive/oozie-migrations/java/target/
setup/hive/oozie-migrations/hql/hive-config.xml
setup/impala/oozie-migrations/hql/hive-config.xml
auto-scripts/
equipment-import/src/test/resources/fixtures/cd_branch/.*
equipment-import/src/test/resources/fixtures/default_labor_rate/.*
embedded*
share_lib_cache*